# Entornos virtuales y caché
__pycache__/
*.py[cod]
venv/
.env

# Archivos de compilación (PyInstaller)
build/
dist/
*.spec

# Instalador compilado (binario pesado, no es código fuente)
installer_output/

# ARCHIVOS PRIVADOS (No subir a GitHub)
voice_app_config.json
